<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row" style="padding: 15px;">
    <div class="col">
      <%= form.text_field :f_name, placeholder: 'First Name', class: 'form-control', readonly: (logged_in? && is_administrator?) %>
    </div>
    <div class="col">
      <%= form.text_field :l_name, placeholder: 'Last Name', class: 'form-control', readonly: (logged_in? && is_administrator?) %>
    </div>
  </div>

  <div class="form-group" style="padding: 15px;">

  <%= form.text_field :email, placeholder: 'E-Mail', class: 'form-control', readonly: (logged_in? && is_administrator?) %>
  </div>

  <div>
  <%= form.hidden_field :status, value:"Active" %>
  </div>
  
  <div class="row" style="padding: 15px;">
    <div class="col"><hr></div>
    <div class="col-auto"></div>
  </div>

  <div class="form-group" style="padding: 15px;">
  <%= form.password_field :password, placeholder: user.password_digest.present? ? 'Password set' : 'Choose a strong password', class: 'form-control', readonly:
  (logged_in? && is_administrator?) %>
  </div>

  <div class="form-group" style="padding: 15px;">
    <% if logged_in? && is_administrator? %> 
      <%= form.label :admin do %> Admin Role
        <%= form.check_box :admin %>
      <% end %>
    <% else %>
      <%= form.hidden_field :is_admin, value: false %> 
    <% end %>  
  </div> 

  <div class="form-group" style="padding: 15px;">
    <% if logged_in? && is_administrator? %> 
      <%= form.select :status, ['Active', 'Suspended', 'Banned'], {}, class: 'formcontrol' %>
    <% elsif logged_in? && !is_administrator? %>
      <%= form.hidden_field :status %> 
    <% else %>
      <%= form.hidden_field :status, value: "Active" %>
    <% end %>  
  </div> 

  <div class="container" style="padding-top:40px";>
  <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
